body{
    color: #023047;
    font-family: Garamond;
    font-size: 18px;
    font-weight: bold;
    background-color: #219ebc;
    padding: 20px;
}
table{
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    background-color: #8ecae6;
    table-layout: fixed;
}
th, td{
    border: 4px,solid #ffb703;
    padding: 10px;
}


