figure {
    all: revert;
    line-height: initial;
    width: 100%;
    height: 100%;
    margin: 0px;
}
* {
    margin: var(--_143esfw7l);
    padding: var(--_143esfw7l);
    box-sizing: border-box;
}
user agent stylesheet
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    unicode-bidi: isolate;
}
style attribute {
    height: 1123px;
    --pagination-total: 1;
    --pagination-current: 1;
}

.kfxZYw {
    --_current-page: min(var(--pagination-total), max(1, var(--pagination-current)));
    width: 794px;
    height: 1123px;
    display: flex
;
    font-size: 16px;
    line-height: 1.2;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden auto;
    margin-top: calc(calc(calc(var(--_current-page)* var(--_page-height)) - var(--_page-height))* -1);
    position: relative;
}

.kMeQCe {
    --_page-width: var(--_page-width, 794px);
    --_page-height: var(--page-height, 1123px);
    width: 100%;
    overflow: hidden;
}
._1n1458wg {
    position: relative;
    display: flex
;
    align-items: center;
    justify-content: center;
    cursor: grab;
    touch-action: none;
    -webkit-user-select: none;
    user-select: none;
}
style attribute {
    --_1n1458w6: 0;
    --_1n1458w7: 0;
    --_1n1458w8: 0.550251256281407;
    --_1n1458w9: 0.550251256281407;
}
._1n1458wa {
    --_1n1458w6: 0;
    --_1n1458w7: 0;
    --_1n1458w8: var(--_1n1458w9, 1);
    --_1n1458w9: 1;
    display: flex
;
    height: var(--_143esfw8r);
    flex-direction: column;
}
.x3jd8g0 {
    --_4mxpte2o: var(--_143esfw3c);
    --_4mxpte2p: var(--_143esfw3d);
    --_4mxpte2q: var(--_143esfw3e);
    --_4mxpte2r: var(--_143esfw3f);
    --_4mxpte2s: var(--_143esfw3g);
    --_4mxpte2t: var(--_143esfw3h);
    --_4mxpte2u: var(--_143esfw3i);
    --_4mxpte2v: var(--_143esfw3j);
    --_4mxpte2w: var(--_143esfw3k);
    --_4mxpte2x: var(--_143esfw3l);
    --_4mxpte2y: var(--_143esfw3m);
    --_4mxpte2z: var(--_143esfw3n);
    --_4mxpte30: var(--_143esfw3o);
    --_4mxpte31: var(--_143esfw3p);
    --_4mxpte32: var(--_143esfw3q);
    --_4mxpte33: var(--_143esfw3r);
    --_4mxpte34: var(--_143esfw3s);
    --_4mxpte35: var(--_143esfw3t);
    --_4mxpte36: var(--_143esfw3u);
    --_4mxpte37: var(--_143esfw3v);
    --_4mxpte38: var(--_143esfw3w);
    --_4mxpte39: var(--_143esfw3x);
    --_4mxpte3a: var(--_143esfw3y);
    --_4mxpte3b: var(--_143esfw3z);
    --_4mxpte3c: var(--_143esfw40);
    --_4mxpte3d: var(--_143esfw41);
    --_4mxpte3e: var(--_143esfw42);
    --_4mxpte3f: var(--_143esfw43);
    --_4mxpte3g: var(--_143esfw44);
    --_4mxpte3h: var(--_143esfw45);
    --_4mxpte3i: var(--_143esfw46);
    --_4mxpte3j: var(--_143esfw47);
    --_4mxpte3k: var(--_143esfw48);
    --_4mxpte3l: var(--_143esfw49);
    --_4mxpte3m: var(--_143esfw4a);
    --_4mxpte3n: var(--_143esfw4b);
    --_4mxpte3o: var(--_143esfw4c);
    --_4mxpte3p: var(--_143esfw4d);
    --_4mxpte3q: var(--_143esfw4e);
    --_4mxpte3r: var(--_143esfw4f);
    --_4mxpte3s: var(--_143esfw4g);
    --_4mxpte3t: var(--_143esfw4h);
    --_4mxpte3u: var(--_143esfw4i);
    --_4mxpte3v: var(--_143esfw4j);
    --_4mxpte3w: var(--_143esfw4k);
    --_4mxpte3x: var(--_143esfw4l);
    --_4mxpte3y: var(--_143esfw4m);
    --_4mxpte3z: var(--_143esfw4n);
    --_4mxpte40: var(--_143esfw4o);
    --_4mxpte41: var(--_143esfw4p);

}
._14shsm95 {
    --_143esfw6o: "CVMaker Heading Latn";
    --_143esfw6p: "CVMaker Body Latn";
}
:root {
    --_143esfw0: hsl(10, 23%, 9.4%);
    --_143esfw1: hsl(9, 44.8%, 11.4%);
    --_143esfw2: hsl(8, 52%, 15.3%);
    --_143esfw3: hsl(7, 56.3%, 18%);
    --_143esfw4: hsl(7, 60.1%, 20.6%);
    --_143esfw5: hsl(8, 64.8%, 24%);
    --_143esfw6: hsl(8, 71.2%, 29.1%);
    --_143esfw7: hsl(10, 80.2%, 35.7%);
    --_143esfw8: hsl(10, 78%, 54%);
    --_143esfw9: hsl(10, 81.7%, 59%);
    --_143esfwa: hsl(10, 85%, 62.8%);
    --_143esfwb: hsl(10, 89%, 96%);
    --_143esfwc: hsl(353, 23%, 9.8%);
    --_143esfwd: hsl(357, 34.4%, 12%);
    --_143esfwe: hsl(356, 43.4%, 16.4%);
    --_143esfwf: hsl(356, 47.6%, 19.2%);
    --_143esfwg: hsl(356, 51.1%, 21.9%);
    --_143esfwh: hsl(356, 55.2%, 25.9%);
    --_143esfwi: hsl(357, 60.2%, 31.8%);
    --_143esfwj: hsl(358, 65%, 40.4%);
    --_143esfwk: hsl(358, 75%, 59%);
    --_143esfwl: hsl(358, 85.3%, 64%);
    --_143esfwm: hsl(358, 100%, 69.5%);
    --_143esfwn: hsl(351, 89%, 96%);
    --_143esfwo: hsl(146, 30%, 7.4%);
    --_143esfwp: hsl(136, 33.3%, 8.8%);
    --_143esfwq: hsl(137, 36%, 11.4%);
    --_143esfwr: hsl(137, 37.6%, 13.7%);
    --_143esfws: hsl(136, 38.7%, 16%);
    --_143esfwt: hsl(135, 39.6%, 19.1%);
    --_143esfwu: hsl(134, 40.3%, 23.8%);
    --_143esfwv: hsl(131, 40.1%, 30.8%);
    --_143esfww: hsl(131, 41%, 46.5%);
    --_143esfwx: hsl(131, 39%, 52.1%);
    --_143esfwy: hsl(131, 43%, 57.2%);
    --_143esfwz: hsl(137, 72%, 94%);
    --_143esfw10: hsl(229, 24%, 10%);
    --_143esfw11: hsl(230, 36.4%, 12.9%);
    --_143esfw12: hsl(228, 43.3%, 17.5%);
    --_143esfw13: hsl(227, 47.2%, 21%);
    --_143esfw14: hsl(227, 50%, 24.1%);
    --_143esfw15: hsl(226, 52.9%, 28.2%);
    --_143esfw16: hsl(226, 56%, 34.5%);
    --_143esfw17: hsl(226, 58.2%, 44.1%);
    --_143esfw18: hsl(226, 70%, 55.5%);
    --_143esfw19: hsl(227, 75.2%, 61.6%);
    --_143esfw1a: hsl(228, 100%, 75.9%);
    --_143esfw1b: hsl(226, 83%, 96.3%);
    --_143esfw1c: hsl(246, 6%, 9%);
    --_143esfw1d: hsl(240, 5.1%, 11.6%);
    --_143esfw1e: hsl(241, 5%, 14.3%);
    --_143esfw1f: hsl(242, 4.9%, 16.5%);
    --_143esfw1g: hsl(243, 4.9%, 18.8%);
    --_143esfw1h: hsl(244, 4.9%, 21.5%);
    --_143esfw1i: hsl(245, 4.9%, 25.4%);
    --_143esfw1j: hsl(247, 4.8%, 32.5%);
    --_143esfw1k: hsl(252, 4%, 45.2%);
    --_143esfw1l: hsl(247, 3.4%, 50.7%);
    --_143esfw1m: hsl(253, 4%, 63.7%);
    --_143esfw1n: hsl(256, 6%, 93.2%);
    --_143esfw1o: hsla(0, 0%, 100%, 0);
    --_143esfw1p: hsla(0, 0%, 100%, .013);
    --_143esfw1q: hsla(0, 0%, 100%, .034);
    --_143esfw1r: hsla(0, 0%, 100%, .056);
    --_143esfw1s: hsla(0, 0%, 100%, .086);
    --_143esfw1t: hsla(0, 0%, 100%, .124);
    --_143esfw1u: hsla(0, 0%, 100%, .176);
    --_143esfw1v: hsla(0, 0%, 100%, .249);
    --_143esfw1w: hsla(0, 0%, 100%, .386);
    --_143esfw1x: hsla(0, 0%, 100%, .446);
    --_143esfw1y: hsla(0, 0%, 100%, .592);
    --_143esfw1z: hsla(0, 0%, 100%, .923);
    --_143esfw20: hsl(229, 24%, 10%);
    --_143esfw21: hsl(230, 36.4%, 12.9%);
    --_143esfw22: hsl(228, 43.3%, 17.5%);
    --_143esfw23: hsl(227, 47.2%, 21%);
    --_143esfw24: hsl(227, 50%, 24.1%);
    --_143esfw25: hsl(226, 52.9%, 28.2%);
    --_143esfw26: hsl(226, 56%, 34.5%);
    --_143esfw27: hsl(226, 58.2%, 44.1%);
    --_143esfw28: hsl(226, 70%, 55.5%);
    --_143esfw29: hsl(227, 75.2%, 61.6%);
    --_143esfw2a: hsl(228, 100%, 75.9%);
    --_143esfw2b: hsl(226, 83%, 96.3%);
    --_143esfw2c: hsl(10, 23%, 9.4%);
    --_143esfw2d: hsl(9, 44.8%, 11.4%);
    --_143esfw2e: hsl(8, 52%, 15.3%);
    --_143esfw2f: hsl(7, 56.3%, 18%);
    --_143esfw2g: hsl(7, 60.1%, 20.6%);
    --_143esfw2h: hsl(8, 64.8%, 24%);
    --_143esfw2i: hsl(8, 71.2%, 29.1%);
    --_143esfw2j: hsl(10, 80.2%, 35.7%);
    --_143esfw2k: hsl(10, 78%, 54%);
    --_143esfw2l: hsl(10, 81.7%, 59%);
    --_143esfw2m: hsl(10, 85%, 62.8%);
    --_143esfw2n: hsl(10, 89%, 96%);
    --_143esfw2o: hsl(45, 100%, 5.5%);
    --_143esfw2p: hsl(46, 100%, 6.7%);
    --_143esfw2q: hsl(45, 100%, 8.7%);
    --_143esfw2r: hsl(45, 100%, 10.4%);
    --_143esfw2s: hsl(47, 100%, 12.1%);
    --_143esfw2t: hsl(49, 100%, 14.3%);
    --_143esfw2u: hsl(49, 90.3%, 18.4%);
    --_143esfw2v: hsl(50, 100%, 22%);
    --_143esfw2w: hsl(53, 92%, 50%);
    --_143esfw2x: hsl(54, 100%, 68%);
    --_143esfw2y: hsl(48, 100%, 47%);
    --_143esfw2z: hsl(53, 100%, 91%);
    --_143esfw30: hsl(36, 100%, 6.1%);
    --_143esfw31: hsl(35, 100%, 7.6%);
    --_143esfw32: hsl(32, 100%, 10.2%);
    --_143esfw33: hsl(32, 100%, 12.4%);
    --_143esfw34: hsl(33, 100%, 14.6%);
    --_143esfw35: hsl(35, 100%, 17.1%);
    --_143esfw36: hsl(35, 91%, 21.6%);
    --_143esfw37: hsl(36, 100%, 25.5%);
    --_143esfw38: hsl(39, 100%, 57%);
    --_143esfw39: hsl(43, 100%, 64%);
    --_143esfw3a: hsl(39, 90%, 49.8%);
    --_143esfw3b: hsl(39, 97%, 93.2%);
    --_143esfw3c: hsl(10, 100%, 99.4%);
    --_143esfw3d: hsl(8, 100%, 98.4%);
    --_143esfw3e: hsl(8, 100%, 96.6%);
    --_143esfw3f: hsl(8, 100%, 94.3%);
    --_143esfw3g: hsl(8, 92.8%, 91%);
    --_143esfw3h: hsl(9, 84.7%, 86.3%);
    --_143esfw3i: hsl(10, 77.3%, 79.5%);
    --_143esfw3j: hsl(10, 71.6%, 71%);
    --_143esfw3k: hsl(10, 78%, 54%);
    --_143esfw3l: hsl(10, 71.5%, 50%);
    --_143esfw3m: hsl(10, 82%, 43.5%);
    --_143esfw3n: hsl(10, 50%, 13.5%);
    --_143esfw3o: hsl(359, 100%, 99.4%);
    --_143esfw3p: hsl(359, 100%, 98.6%);
    --_143esfw3q: hsl(360, 100%, 96.8%);
    --_143esfw3r: hsl(360, 97.9%, 94.8%);
    --_143esfw3s: hsl(360, 90.2%, 91.9%);
    --_143esfw3t: hsl(360, 81.7%, 87.8%);
    --_143esfw3u: hsl(359, 74.2%, 81.7%);
    --_143esfw3v: hsl(359, 69.5%, 74.3%);
    --_143esfw3w: hsl(358, 75%, 59%);
    --_143esfw3x: hsl(358, 69.4%, 55.2%);
    --_143esfw3y: hsl(358, 65%, 48.7%);
    --_143esfw3z: hsl(354, 50%, 14.6%);
    --_143esfw40: hsl(116, 50%, 98.9%);
    --_143esfw41: hsl(120, 60%, 97.1%);
    --_143esfw42: hsl(120, 53.6%, 94.8%);
    --_143esfw43: hsl(121, 47.5%, 91.4%);
    --_143esfw44: hsl(122, 42.6%, 86.5%);
    --_143esfw45: hsl(124, 39%, 79.7%);
    --_143esfw46: hsl(126, 37.1%, 70.2%);
    --_143esfw47: hsl(131, 38.1%, 56.3%);
    --_143esfw48: hsl(131, 41%, 46.5%);
    --_143esfw49: hsl(132, 43.1%, 42.2%);
    --_143esfw4a: hsl(133, 50%, 32.5%);
    --_143esfw4b: hsl(130, 30%, 14.9%);
    --_143esfw4c: hsl(225, 60%, 99.4%);
    --_143esfw4d: hsl(223, 100%, 98.6%);
    --_143esfw4e: hsl(223, 98.4%, 97.1%);
    --_143esfw4f: hsl(223, 92.9%, 95%);
    --_143esfw4g: hsl(224, 87.1%, 92%);
    --_143esfw4h: hsl(224, 81.9%, 87.8%);
    --_143esfw4i: hsl(225, 77.4%, 82.1%);
    --_143esfw4j: hsl(226, 75.4%, 74.5%);
    --_143esfw4k: hsl(226, 70%, 55.5%);
    --_143esfw4l: hsl(226, 58.6%, 51.3%);
    --_143esfw4m: hsl(226, 55%, 45%);
    --_143esfw4n: hsl(226, 62%, 17%);
    --_143esfw4o: hsl(300, 20%, 99%);
    --_143esfw4p: hsl(300, 7.7%, 97.5%);
    --_143esfw4q: hsl(294, 5.5%, 95.3%);
    --_143esfw4r: hsl(289, 4.7%, 93.3%);
    --_143esfw4s: hsl(283, 4.4%, 91.3%);
    --_143esfw4t: hsl(278, 4.1%, 89.1%);
    --_143esfw4u: hsl(271, 3.9%, 86.3%);
    --_143esfw4v: hsl(255, 3.7%, 78.8%);
    --_143esfw4w: hsl(252, 4%, 57.3%);
    --_143esfw4x: hsl(253, 3.5%, 53.5%);
    --_143esfw4y: hsl(252, 4%, 44.8%);
    --_143esfw4z: hsl(260, 25%, 11%);
    --_143esfw50: hsla(0, 0%, 0%, .012);
    --_143esfw51: hsla(0, 0%, 0%, .027);
    --_143esfw52: hsla(0, 0%, 0%, .047);
    --_143esfw53: hsla(0, 0%, 0%, .071);
    --_143esfw54: hsla(0, 0%, 0%, .09);
    --_143esfw55: hsla(0, 0%, 0%, .114);
    --_143esfw56: hsla(0, 0%, 0%, .141);
    --_143esfw57: hsla(0, 0%, 0%, .22);
    --_143esfw58: hsla(0, 0%, 0%, .439);
    --_143esfw59: hsla(0, 0%, 0%, .478);
    --_143esfw5a: hsla(0, 0%, 0%, .565);
    --_143esfw5b: hsla(0, 0%, 0%, .91);
    --_143esfw5c: hsl(225, 60%, 99.4%);
    --_143esfw5d: hsl(223, 100%, 98.6%);
    --_143esfw5e: hsl(223, 98.4%, 97.1%);
    --_143esfw5f: hsl(223, 92.9%, 95%);
    --_143esfw5g: hsl(224, 87.1%, 92%);
    --_143esfw5h: hsl(224, 81.9%, 87.8%);
    --_143esfw5i: hsl(225, 77.4%, 82.1%);
    --_143esfw5j: hsl(226, 75.4%, 74.5%);
    --_143esfw5k: hsl(226, 70%, 55.5%);
    --_143esfw5l: hsl(226, 58.6%, 51.3%);
    --_143esfw5m: hsl(226, 55%, 45%);
    --_143esfw5n: hsl(226, 62%, 17%);
    --_143esfw5o: hsl(10, 100%, 99.4%);
    --_143esfw5p: hsl(8, 100%, 98.4%);
    --_143esfw5q: hsl(8, 100%, 96.6%);
    --_143esfw5r: hsl(8, 100%, 94.3%);
    --_143esfw5s: hsl(8, 92.8%, 91%);
    --_143esfw5t: hsl(9, 84.7%, 86.3%);
    --_143esfw5u: hsl(10, 77.3%, 79.5%);
    --_143esfw5v: hsl(10, 71.6%, 71%);
    --_143esfw5w: hsl(10, 78%, 54%);
    --_143esfw5x: hsl(10, 71.5%, 50%);
    --_143esfw5y: hsl(10, 82%, 43.5%);
    --_143esfw5z: hsl(10, 50%, 13.5%);
    --_143esfw60: hsl(60, 54%, 98.5%);
    --_143esfw61: hsl(52, 100%, 95.5%);
    --_143esfw62: hsl(55, 100%, 90.9%);
    --_143esfw63: hsl(54, 100%, 86.6%);
    --_143esfw64: hsl(52, 97.9%, 82%);
    --_143esfw65: hsl(50, 89.4%, 76.1%);
    --_143esfw66: hsl(47, 80.4%, 68%);
    --_143esfw67: hsl(48, 100%, 46.1%);
    --_143esfw68: hsl(53, 92%, 50%);
    --_143esfw69: hsl(50, 100%, 48.5%);
    --_143esfw6a: hsl(42, 100%, 29%);
    --_143esfw6b: hsl(40, 55%, 13.5%);
    --_143esfw6c: hsl(39, 70%, 99%);
    --_143esfw6d: hsl(40, 100%, 96.5%);
    --_143esfw6e: hsl(44, 100%, 91.7%);
    --_143esfw6f: hsl(43, 100%, 86.8%);
    --_143esfw6g: hsl(42, 100%, 81.8%);
    --_143esfw6h: hsl(38, 99.7%, 76.3%);
    --_143esfw6i: hsl(36, 86.1%, 67.1%);
    --_143esfw6j: hsl(35, 85.2%, 55.1%);
    --_143esfw6k: hsl(39, 100%, 57%);
    --_143esfw6l: hsl(35, 100%, 55.5%);
    --_143esfw6m: hsl(30, 100%, 34%);
    --_143esfw6n: hsl(20, 80%, 17%);
    --_143esfw6o: "Graphik", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --_143esfw6p: "FaktPro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    --_143esfw6q: 400;
    --_143esfw6r: 600;
    --_143esfw6s: 700;
    --_143esfw6t: 4.5rem;
    --_143esfw6u: 3.5rem;
    --_143esfw6v: 2.75rem;
    --_143esfw6w: 2.25rem;
    --_143esfw6x: 1.375rem;
    --_143esfw6y: 1.125rem;
    --_143esfw6z: 1.125rem;
    --_143esfw70: 1rem;
    --_143esfw71: .875rem;
    --_143esfw72: .75rem;
    --_143esfw73: .625rem;
    --_143esfw74: 1.3333333333333333;
    --_143esfw75: 1.3571428571428572;
    --_143esfw76: 1.3636363636363635;
    --_143esfw77: 1.3333333333333333;
    --_143esfw78: 1.4545454545454546;
    --_143esfw79: 1.3333333333333333;
    --_143esfw7a: 1.3333333333333333;
    --_143esfw7b: 1.5;
    --_143esfw7c: 1.4285714285714286;
    --_143esfw7d: 1.3333333333333333;
    --_143esfw7e: 1.6;
    --_143esfw7f: -.0175em;
    --_143esfw7g: -.015em;
    --_143esfw7h: -.0125em;
    --_143esfw7i: -.01em;
    --_143esfw7j: -.005em;
    --_143esfw7k: -.0025em;
    --_143esfw7l: 0px;
    --_143esfw7m: 8px;
    --_143esfw7n: 16px;
    --_143esfw7o: 24px;
    --_143esfw7p: 32px;
    --_143esfw7q: 40px;
    --_143esfw7r: 48px;
    --_143esfw7s: 56px;
    --_143esfw7t: 64px;
    --_143esfw7u: 4px;
    --_143esfw7v: 12px;
    --_143esfw7w: 20px;
    --_143esfw7x: 28px;
    --_143esfw7y: 36px;
    --_143esfw7z: 52px;
    --_143esfw80: 60px;
    --_143esfw81: 0px;
    --_143esfw82: 8px;
    --_143esfw83: 16px;
    --_143esfw84: 24px;
    --_143esfw85: 32px;
    --_143esfw86: 40px;
    --_143esfw87: 48px;
    --_143esfw88: 56px;
    --_143esfw89: 64px;
    --_143esfw8a: 640px;
    --_143esfw8b: 640px;
    --_143esfw8c: 1440px;
    --_143esfw8d: 760px;
    --_143esfw8e: 360px;
    --_143esfw8f: 1160px;
    --_143esfw8g: 440px;
    --_143esfw8h: 360px;
    --_143esfw8i: 240px;
    --_143esfw8j: 278px;
    --_143esfw8k: 4px;
    --_143esfw8l: 12px;
    --_143esfw8m: 20px;
    --_143esfw8n: 28px;
    --_143esfw8o: 36px;
    --_143esfw8p: 52px;
    --_143esfw8q: 60px;
    --_143esfw8r: 100%;
    --_143esfw8s: 50%;
    --_143esfw8t: 33.33333333333333%;
    --_143esfw8u: 66.66666666666666%;
    --_143esfw8v: 25%;
    --_143esfw8w: 75%;
    --_143esfw8x: 10px;
    --_143esfw8y: 12px;
    --_143esfw8z: 14px;
    --_143esfw90: 16px;
    --_143esfw91: 18px;
    --_143esfw92: 22px;
    --_143esfw93: 24px;
    --_143esfw94: 32px;
    --_143esfw95: 48px;
    --_143esfw96: 64px;
    --_143esfw97: 104px;
    --_143esfw98: 128px;
    --_143esfw99: 20px;
    --_143esfw9a: 0px;
    --_143esfw9b: 8px;
    --_143esfw9c: 16px;
    --_143esfw9d: 4px;
    --_143esfw9e: 12px;
    --_143esfw9f: 9999px;
    --_143esfw9g: 1px;
    --_143esfw9h: 2px;
}