body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

header {
  background-color: #cbae70;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  position: relative;
}

header img {
  height: 80%;
  width: auto;
  position: absolute;
  left: 20px;
}

header a {
  margin: 0 auto;
  font-size: 2rem;
  text-align: center;
  color: #eaeaea;
  text-decoration: none;
}

header a:hover {
  color: #8b6b4c;
}
header div {
  display: flex;
  justify-content: center;
}
.header {
  width: 60%;
  margin-left: 20%;
}
